<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://gzc-download.weiyun.com/ftn_handler/eef040e4c33926ec4c17d4fef5b71ad6070457937fd3f0b2f63758ac96f8d5b966a0d8dcb9a5f663a03c78ac919c377fdeba5232e8a2b8d494cbdb90754d1484/sprt_3.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://m.sunluhua.com/images/slh_print_logo.png</string>
               </dict>
	       <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://m.sunluhua.com/images/slh_print_logo.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>shy.sprt</string>
               <key>bundle-version</key>
               <string>1.0.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>商陆花打印</string>
               <key>title</key>
               <string>商陆花打印</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
